<html>
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: normal;
        }
    
        .no-break {
            page-break-inside: avoid;
        }
    
        .no-breaks {
            page-break-before: always;
        }
    
        .page {
            counter-reset: page;
        }
    
        .arrow-down {
            width: 0;
            height: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            margin-top: -2%;
            margin-left: 40%;
            /* left: 40%;
            bottom: 5%; */
            size: 30%;
        }
    
        .logo {
           
            display: block;
        }
    
        .logodawipo {
            width: 50%;
            margin-left: 85%;
            margin-top: 40%;
        }
    
        .letterc {
            margin-left: 2%;
            margin-top: 2%;
        }
    
        .letterr {
            margin-left: 55%;
            margin-top: -5%;
        }
    
        .letter {
            font-size: 40%;
        }
    
        .lettertitle {
            font-size: 50%;
            font-weight: bolder;
        }
    
        .lettertitleG {
            font-size: 56%;
        }
    
        .marca {
            opacity: 0.11;
            filter: alpha(opacity=50);
            position: fixed;
        }
    
        .dec {
            text-decoration-line: overline underline line-through;
        }
    
        table,
        th,
        td,
        tr {
            border: solid 1px #525252;
            border-collapse: collapse;
            padding: 2px;
           border-width: thin;
        }
        td[rowspan="2"]:first-child {
        border-right: 1px solid black;
      }
      td[rowspan="2"]:last-child {
        border-left: 1px solid black;
      }
    
        .container {
            margin-top: -1%;
        }
    
        .no_borde {
            border: transparent;
        }
    
        th.ancho {
            height: 75px;
        }
    
        th.anchop {
            height: 93px;
        }
    
        th.anchoinf {
            height: 65px;
        }
    
        th.anchoto {
            height: 40px;
        }
    
        th.anchoairp {
            height: 26px;
        }
    
        th.anchodf {
            height: 12px;
        }
    
        th.anchoins {
            height: 40px;
        }
    
        
    
        th.widthinstble {
            width: 275px;
        }
    
        th.widthins {
            width: 137px;
        }
    
        .cuadradon {
            width: 110px;
            height: 13px;
            border: 1px solid #525252;
            display: flex;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
    
        }
    
        .lettersmall {
            font-size: 35%;
        }
        .lettersmale {
            font-size: 30%;
        }
    
    
        th.gray {
            background: #d3d3d3
        }
      .back-text {
                float: right;
                right: 20px
                    /* Otros estilos que desees aplicar */
            }
            .tableTo,
      th.tableTo,
      td.tableTo,
      tr.tableTo {
      border-top: solid 1px transparent;
      border-bottom: solid 1px transparent;
      }
      tableInterna,
        th.tableInterna,
        tr.tableInterna {
          border: solid 1px transparent;
            border-collapse: collapse;
            padding: 2px;
          line-height:35%
        }
        tableInternap,
        th.tableInternap,
        tr.tableInternap {
          border: solid 1px transparent;
            border-collapse: collapse;
            padding: 2px;
          line-height:35%
        }
       .cuadradocenter {
      width: 110px;           
      height: 17px;          
      border: 1px solid #525252; 
        display: flex;
      justify-content: center; 
       
     }
       .cuadrado {
      width: 110px;           
      height: 7px;          
      border: 1px solid #525252; 
        display: flex;
      justify-content: center; 
        margin-left: auto;
      margin-right: auto;
         border-width: thin;
        
    }
    </style>
    
      <section>
      
      <table width="550px">
        <tr>
          <th colspan="8" style="border-top: 1px solid transparent;border-left: 1px solid transparent;border-right: 1px solid transparent; color: red">
            <div class="lettertitleG" style="text-align: left;">{{numberbooking}}<span class="back-text">{{numberbooking}}</span></div>
    
          </th>
         </tr>
        <tr>
            <th class="widthins" style="border-bottom: 1px solid transparent; vertical-align:top;height: 10px;" colspan="3">
                <div class="letter" style="margin-left: 2%;">Shipper's Name and Address</div>
            </th>
            <th class="widthins" style="height: 12px; vertical-align:top" colspan="">
                <div class="letter" style="margin-left: 2%;">Shipper's Account Number</div>
            </th>
            <th colspan="4" rowspan="2" class="widthinstble">
                <div class="letter" style="margin-left: 2%;text-align: left">Vanguard Medical Logistics</div>
                <div class="lettertitle" style="margin-left: 2%;text-align: left">Air Waybill</div>
                <div class="letter" style="margin-left: 2%;text-align: left">Issues by</div>
                <div class="logo" >
                    <img style="width: 12%;text-align:left;margin-right: 70%;" src="data:image/{{typeimagednc}};base64,{{imageenc}}" />
                </div>
            </th>
    
        </tr>
        <tr>
            <th class="anchoins" colspan="4" style="vertical-align:top; text-align:left" rowspan="2">
                <div class="letter" style="margin-left: 2%;"> {{nameshipper}} <br>
                    {{addreshipper1}} <br>
                    {{addreshipper2}} <br>
                    {{countryshipper}} / {{cityshipper}}
                </div>
            </th>
    
    
        </tr>
        <tr>
            <th colspan="8">
                <div class="lettersmall" style="margin-left: 2%;text-align: left"> Copies 1, 2 and 3 of this Air Waybill are originals and have the same validity .</div>
            </th>
    
    
        </tr>
        <tr>
            <th class="widthinstbl " style="border-bottom: 1px solid transparent; vertical-align:top" colspan="3">
                <div class="letter" style="margin-left: 2%;">Consignee's Name and Address</div>
            </th>
            <th class="widthins" style="height: 12px; vertical-align:top;background: #d3d3d3" colspan="">
                <div class="letter" style="margin-left: 2%;">Consignee's Account Number</div>
            </th>
            <th rowspan="2" style="vertical-align:top" colspan="8">
                <div class="lettersmale" style="margin-left: 2%;text-align:left">It is agreed that the goods described herein are accepted in apparent good order and condition (except as noted) for carriage SUBJECT TO THE CONDITIONS OF CONTRACT ON THE REVERSE HEREOF. ALL GOODS MAY BE CARRIED BY ANY OTHER MEANS INCLUDING ROAD OR ANY OTHER CARRIER UNLESS SPECIFIC CONTRARY INSTRUCTIONS ARE GIVEN HEREON BY THE SHIPPER, AND SHIPPER AGREES THAT THE SHIPMENT MAY BE CARRIED VIA INTERMIDIATE STOPPING PLACES WHICH THE CARRIER DEEMS APPROPIATE. THE SHIPPER'S ATTENCION IS DRAWN TO THE NOTICE CONCERNING CARRIER'S LIMITATION OF LIABILITY. Shipper may increase such limitation of liability by declaring a higher value for carriage and paying a supplemental charge if required.</div>
            </th>
    
        </tr>
        <tr>
            <th class="anchoins" colspan="4" style="vertical-align:top; text-align:left" rowspan="1">
                <div class="letter" style="margin-left: 2%;"> {{nameconsignee}} <br>
                    {{addressconsignee1}} <br>
                    {{addressconsignee2}} <br>
                    {{countryconsignee}} / {{cityconsignee}}
                </div>
            </th>
    
    
        </tr>
        <tr>
            <th colspan="4" style="height: 30px;vertical-align:top" class="widthinstble">
                <div class="letter" style="margin-left: 2%;text-align:left">Issuing Carrier's Agent Name and City</div>
                <div class="lettertitle" style="margin-left: 2%;text-align:left">{{carrier}}</div>
            </th>
            <th style="vertical-align:top" rowspan="2" colspan="8">
                <div class="lettersmall" style="margin-left: 2%;text-align:left;">Accounting Information</div>
            </th>
        </tr>
        <tr>
    
            <th style="height:20px; vertical-align:top" colspan="2">
                <div class="lettersmall" style="margin-left: 2%;text-align:left">Agent's IATA Code</div>
            </th>
            <th style="vertical-align:top" colspan="2">
                <div class="letter" style="margin-left: 2%;text-align:left">Account No.</div>
            </th>
        </tr>
                  
        <tr>
            <th colspan="4" rowspan="2" style="height:2px; vertical-align:top; border-bottom: 1px solid transparent" class="widthinstble">
                <div class="lettersmall" style="margin-left: 2%;text-align:left">Airport of Departure (Addr. of First Carrier) and Requesting Routing</div>
                <div class="lettertitle" style="margin-left: 2%;text-align:left">{{airportOfDeparture}}</div>
    
            </th>
    
            <th style="vertical-align:top; width:125px;border-bottom:1px solid transparent" colspan="">
                <div class="lettersmall" style="margin-left: 2%;text-align:center; ">Reference Number</div>
    
            </th>
            <th style="width:74px;vertical-align:top">
                <div class="lettersmall" style="margin-left: 2%;text-align:center">Optional Shipping information</div>
            </th>
            <th style="width:74px;border-bottom:1px solid transparent">
    
            </th>
        </tr>
        <tr>
            <th style="vertical-align:top;border-bottom: 1px solid transparent " colspan="">
    
                <div class="lettertitle" style="margin-left: 2%;text-align:center">{{numberbooking}}</div>
            </th>
            <th style="vertical-align:top; border-bottom: 1px solid transparent  ">
    
                <div class="lettertitle" style="margin-left: 2%;text-align:center; "></div>
            </th>
            <th style="vertical-align:top;border-bottom: 1px solid transparent ">
    
                <div class="lettertitle" style="margin-left: 2%;text-align:center"></div>
            </th>
        </tr>
     </table>
     <table width="550px" class="" style="margin-right:5%">
        <tr class="">
          <th width="245px" style="height:2px;vertical-align:top" class="">
            <table>
              <th style="height:28px;width:20px; vertical-align:top;border-left: 1px solid transparent;" class="tableTo">
                <div class="lettersmall" style="text-align:center">To</div>
              </th>
              <th style="height:28px;width:195px; vertical-align:top" class="tableTo">
                <div class="lettersmall" style="margin-left: 2%;text-align:center">By first Carrier</div>
            </th>
            <th  style="height:28px;width:20px; vertical-align:top" class="tableTo">
                <div class="lettersmall" style="margin-left: 2%;text-align:center">To</div>
            </th>
            <th  style="height:28px;width:20px; vertical-align:top" class="tableTo">
                <div class="lettersmall" style="margin-left: 2%;text-align:center" class="tableTo">By</div>
            </th>
            <th  style="height:28px;width:20px; vertical-align:top" class="tableTo">
                <div class="lettersmall" style="margin-left: 2%;text-align:center">To</div>
            </th>
            <th  style="height:28px;width:20px; vertical-align:top;border-right: 1px solid transparent;" class="tableTo">
                <div class="lettersmall" style="margin-left: 2%;text-align:center">By</div>
            </th>
            </table>
          </th>
          <th width="270px" rowspan="2" style="height:2px;vertical-align:top">
            <table>
            <th rowspan="2" style="vertical-align:top;width:26px;border-left: 1px solid transparent;" class="tableTo">
                <div class="lettersmall" style="margin-left: 2%;text-align:center">Currency</div>
                <div class="lettertitle" style="margin-left: 2%;text-align:center">USD</div>
            </th>
            <th class="gray" rowspan="2" style="vertical-align:top;width:26px;" class="tableTo">
                <div class="lettersmall" style="margin-left: 2%;text-align:center">CHGs Code</div>
                <div class="lettertitle" style="margin-left: 2%;text-align:center">0</div>
            </th>
            <th colspan="2" style="width:26px; border-top: 1px solid transparent; vertical-align:top" >
                <div class="lettersmale" style="margin-left: 2%;text-align:center">WT/VAL</div>
            </th>
            <th colspan="2" style="width:26px;border-top: 1px solid transparent;vertical-align:top">
                <div class="lettersmale" style="margin-left: 2%;text-align:center">Other</div>
            </th>
            <th style="height:2px;width:77px; vertical-align:top;border-top: 1px solid transparent;border-bottom: 1px solid transparent" >
                <div class="lettersmall" style="margin-left: 2%;text-align:center;">Declared Value for Carriage</div>
            </th>
            <th style="height:2px; width:77px;vertical-align:top;border-top: 1px solid transparent;border-right: 1px solid transparent;border-bottom: 1px solid transparent">
                <div class="lettersmall" style="margin-left: 2%;text-align:center">Declared Value for Costums</div>
            </th>
              </tr>
           <tr>
             <th style="height:2px; vertical-align:top;border-bottom: 1px solid transparent;">
                <div class="lettersmall" style="margin-left: 2%;text-align:center">PPD</div>
            </th>
            <th style="height:2px; vertical-align:top;border-bottom: 1px solid transparent;">
                <div class="lettersmall" style="margin-left: 2%;text-align:center">COLL</div>
            </th>
            <th style="height:2px; vertical-align:top;border-bottom: 1px solid transparent;">
                <div class="lettersmale" style="margin-left: 2%;text-align:center">PPD</div>
            </th>
            <th style="height:2px; vertical-align:top;border-bottom: 1px solid transparent;">
                <div class="lettersmale" style="margin-left: 2%;text-align:center">COLL</div>
            </th>
            <th style="height:2px; vertical-align:top;border-bottom: 1px solid transparent;">
                <div class="lettertitle" style="margin-left: 2%;text-align:center">N.V.D</div>
            </th>
            <th style="height:2px; vertical-align:top;border-bottom: 1px solid transparent;border-right: 1px solid transparent">
                <div class="lettertitle" style="margin-left: 2%;text-align:center">N.V.D</div>
            </th>
             </table>
          </th>
        </tr>
    
      
      </table>
     <table width="550px" class="" style="margin-right:5%">
        <tr class="">
          <th width="245px" style="height:2px;vertical-align:top;border-top: 1px solid transparent;" class="">
            <table>
              <th style="height:2px;width:137px; vertical-align:bottom;border-left: 1px solid transparent;" class="tableTo">
                <div class="lettersmall" style="text-align:center">Airport of Destination</div><div class="lettertitle" style="margin-left: 2%;text-align:center">{{airportOfArrival}}</div>
              </th>
              <th colspan="2" style="height:2px;width:137px; vertical-align:top;border-right: 1px solid transparent" class="tableTo">
                 <div class=" letter">Requested Flight/Date</div>
            </th>
              
            <tr>
           <th style="height:2px; border-bottom: 1px solid transparent;border-left: 1px solid transparent" >
           </th>
              <th style="height:2px;border-bottom: 1px solid transparent;" >
           </th>
              <th style="height:2px;border-bottom: 1px solid transparent;border-right: 1px solid transparent" >
           </th>
              
           
         </tr>
            </table>
          </th>
          <th width="270px" rowspan="2" style="height:2px;vertical-align:top;border-top: 1px solid transparent;">
            <table>
            <th style="height:2px;width:80px; vertical-align:top;border-top: 1px solid transparent;border-left: 1px solid transparent;border-bottom: 1px solid transparent" >
                <div class="lettersmall" style="margin-left: 2%;text-align:center">Declared Value for Carriage</div>
                <div class="lettertitle" style="margin-left: 2%;text-align:center">N.V.D</div>
            </th>
            
            <th style="height:2px; width:165px;vertical-align:top;border-top: 1px solid transparent;border-bottom: 1px solid transparent;border-right: 1px solid transparent">
                <div class="lettersmall" style="margin-left: 2%;text-align:left">INSURANCE - If carrier offers insurance, and such insurance is requested in acordance with the conditions thereof, indicate amount to be insured in figures in box marked "Amount of insurance"</div>
            </th>
       
           
             </table>
          </th>
        </tr>
    
      
      </table>
      <table width="550px">
        <tr>
          <th colspan="14" style="height:12px">
            <table style="margin-top:12px">
              <tr class="tableInternap">
                <th style="width:280px; " class="tableInternap">
                   <div class="letter" style="margin-left: 2%;text-align: left;line-height:95%">These commodities, technology or software were exported from the United States in accordance with the Export Administration Regulations. Ultimate Destination</div>
                  
                </th>
                <th style="width:90px; " class="tableInternap">
                   <div class="letter" style="margin-left: 2%;text-align: left;line-height:95%">{{airportOfArrival}}</div>
                  
                </th>
                
                <th class="tableInternap">
                   <div class="letter" style="margin-left: 2%;text-align: left;line-height:95%;border-right:1px solid #000">Diversion contrary to U.S. law prohibited</div>
                  
                </th>
                <th style="width:90px; vertical-align:top; border-left:1px solid #000;border-top:1px solid #000" class="tableInternap">
                   <div class="letter" style="margin-left: 2%;text-align: center;line-height:95%">SCI</div>
                  
                </th>
              </tr>
            </table>
           </th>
        </tr>
        <tr>
          <th style="width:30px; padding:1%; vertical-align:top" class="lettersmall">
            No. of Pieces RCP
          </th>
          
          
          <th class="lettersmall" style="width:30px; padding:1%">
            Gross Weight
          </th>
          
          <th class="lettersmall" style="width:20px; padding:1%">
            Kg
            Lb
          </th >
          
          <th style="width:1px; padding:1%; border-bottom: 1px solid transparent">
          </th>
          
          <th style="width:30px; padding:1%" class="lettersmall">
            Rate Class
          </th>
          
          <th class="lettersmall" style="width:40px; padding:1%">
            Commodity Item No
          </th>
          
          <th style="width:1px; padding:1%;  border-bottom: 1px solid transparent">
          </th>
          
          <th class="lettersmall" style="width:120px; padding:1%">
            Chargeable Weight
          </th>
          
          <th style="width:1px; padding:1%;  border-bottom: 1px solid transparent">
          </th>
          
           <th class="lettersmall" style="width:80px; padding:1%">
            Rate / Charge
          </th>
          <th style="width:1px; padding:1%;  border-bottom: 1px solid transparent">
          </th>
          <th class="lettersmall" style="width:120px; padding:1%">
            Total
          </th>
          <th style="width:1px; padding:1%; border-bottom: 1px solid transparent">
          </th>
          <th class="lettersmall" style="width:190px; padding:1%">
            Nature and Quantity of Goods
            <div style="margin-left: 2%;text-align: center;line-height:95%">(incl. Dimensions of Volume)</div>
          </th>
        </tr>
        
        <tr>
          <th style="height:122px; padding:1%; vertical-align:top" class="lettersmall">{{#each thepackages1}}
            <div style="margin-left: 2%;text-align: center;line-height:95%">{{quantity}}</div>{{/each}}
            
           
          </th>
          
          <th class="lettersmall" style="width:0px; padding:1%;vertical-align:top">
            {{#each thepackages1}}
            <div style="margin-left: 2%;text-align: center;line-height:95%">{{weight}}</div>{{/each}}
          </th>
          
          <th class="lettersmall" style="width:0px; padding:1%;vertical-align:top">
            {{#each thepackages1}}
            <div style="margin-left: 2%;text-align: center;line-height:95%">{{weightUom}}</div>{{/each}}
          </th >
          
          <th style="width:1px; padding:1%;  border-bottom: 1px solid transparent">
          </th>
          
          <th style="width:0px; padding:1%; border-bottom: 1px solid transparent" class="lettersmall">
           
          </th>
          
          <th class="lettersmall" style="width:0px; padding:1%; border-bottom: 1px solid transparent">
           
          </th>
          
          <th style="width:1px; padding:1%; border-bottom: 1px solid transparent">
          </th>
          
          <th class="lettersmall" style="width:40px; padding:1%; border-bottom: 1px solid transparent">
           
          </th>
          
          <th style="width:1px; padding:1%; border-bottom: 1px solid transparent">
          </th>
          
           <th class="lettersmall" style="width:40px; padding:1%; border-bottom: 1px solid transparent">
           
          </th>
          <th style="width:1px; padding:1%; border-bottom: 1px solid transparent">
          </th>
          <th class="lettersmall" style="width:40px; padding:1%">
            
          </th>
          <th style="width:1px; padding:1%; border-bottom: 1px solid transparent">
          </th>
          <th class="lettersmall" style="width:70px; padding:1%; border-bottom: 1px solid transparent">
            <div style="margin-left: 2%;text-align: center;line-height:95%">{{goodsDescription}}</div>
           
            
          </th>
        </tr>
        
        <tr>
          <th style=" padding:1%; vertical-align:top" class="lettersmall">
            <div style="margin-left: 2%;text-align: center;line-height:95%">{{totalfinallypackages}}</div>
          </th>
          
          <th class="lettersmall" style="width:0px; padding:1%">
            {{totallb}}
          </th>
          
          <th class="lettersmall" style="width:0px; padding:1%">
            lb
          </th >
          
          <th style="width:1px; padding:1%">
          </th>
          
          <th style="width:0px; padding:1%" class="lettersmall">
           
          </th>
          
          <th class="lettersmall" style="width:0px; padding:1%">
           
          </th>
          
          <th style="width:1px; padding:1%">
          </th>
          
          <th class="lettersmall" style="width:30px; padding:1%">
           
          </th>
          
          <th style="width:1px; padding:1%">
          </th>
          
           <th class="lettersmall" style="width:30px; padding:1%">
           
          </th>
          <th style="width:1px; padding:1%">
          </th>
          <th class="lettersmall" style="width:30px; padding:1%">
            
          </th>
          <th style="width:1px; padding:1%">
          </th>
          <th class="lettersmall" style="width:80px; padding:1%">
            
          </th>
        </tr>
      </table>
      
       <table width="550px">
         <tr>
           <th class="" style="vertical-align:top;width:50px" colspan="2" >
               <table width="100%">
              <tr class="tableInternap">
                <th  style="vertical-align:bottom;border: 1px; ">
                  <div class="letter" style="margin-left: 2%;text-align: center;line-height:95%">Prepaid</div> 
                  <th  style="vertical-align:bottom;border: 1px;border-left: 1px solid #000 ">
                  <div class="letter" style="margin-left: 2%;text-align: center;line-height:95%">Weight Charge</div>
                    <th  style="vertical-align:bottom;border: 1px; border-left: 1px solid #000">
                  <div class="letter" style="margin-left: 2%;text-align: center;line-height:95%">Collect</div>
                </th>
                
               </tr>
            </table>
            </th>
           
           <th style="height:2px; vertical-align:top " colspan="2" rowspan="6" class="widthinstbl">
             <div class="letter" style="margin-left: 2%;text-align: justify;">Other Charges</div>
             <div class="lettertitle" style="margin-left: 2%;text-align: left;">Charges at destination <span class="back-text" style="margin-right: 25%">114.98</span></div>
           </th>
         </tr>
         <tr>
           <th style="height:12px" >
           </th>
           <th style="height:12px" >
           </th>
         </tr>
         <tr>
           <th class="widthinstbl" style="border-bottom: 1px solid transparent; vertical-align:top" colspan="2" >
                <div class="cuadrado letter">Valuation Charge</div>
            </th>
           
         </tr>
         <tr>
           <th style="height:12px" >
           </th>
           <th style="height:12px" >
           </th>
         </tr>
         <tr>
           <th class="widthinstbl" style="border-bottom: 1px solid transparent; vertical-align:top" colspan="2" >
                <div class="cuadrado letter">Tax</div>
            </th>
           
         </tr>
        <tr>
           <th style="height:12px" >
           </th>
           <th style="height:12px" >
           </th>
         </tr>
         <tr>
            <th class="widthinstbl" style="border-bottom: 1px solid transparent; vertical-align:top" colspan="2" >
                <div class="cuadrado letter">Total Other Charges Due Agent</div>
            </th>
           <th style="height:12px" rowspan="5" colspan="3">
              <div class="lettersmall" style="margin-left: 2%;text-align: justify;">Shipper certifies that the particulars on the face hereof are correct and that insofar as any part of the consigme contains dangerous goods, such part is properly described by name and is in proper condition for carriage by air according to the applicable Dangerous Goods Regulations.</div>
            <div style="margin-top: 10px;">
             <table width="100%">
              <tr>
                <th class="tableInternap" style="vertical-align:bottom; border-bottom: 2px dashed black; ">
                  <div class="lettertitle" style="margin-left: 2%;text-align: left;line-height:95%">PROMED MEDICAL LOGISTICS
    AUTHORIZED AGENT FOR GE MEDICAL SYSTEM (CHINA) GE MEDICAL SYSTEM(CHINA)</div>
                </th>
                
               </tr>
              
              <tr>
                <th class="tableInterna" style="width:70px;vertical-align:bottom">
                  <div class="lettersmall" style="margin-left: 2%;text-align: center;">Executed on (date) </div>
                </th>
                
               </tr>
            </table>
             </div>
    
           </th>
           
         </tr>
         <tr>
           <th style="height:12px" >
           </th>
           <th style="height:12px" >
           </th>
         </tr>
         <tr>
             <th class="widthinstbl" style="border-bottom: 1px solid transparent; vertical-align:top" colspan="2" >
                <div class="cuadrado letter">Total other Charges Due Carrier</div>
            </th>
         </tr>
         <tr>
           <th style="height:12px" >
           </th>
           <th style="height:12px" >
           </th>
         </tr>
         <tr>
           <th style="height:3px"  class="gray">
           </th>
           <th style="height:3px"  class="gray">
           </th>
         </tr>
         <tr>
          <th style="width:130px; height: 20px;vertical-align:top">
           <div class="cuadrado letter"> Total Prepaid</div>
           <div class="letter" style="margin-left: 2%;text-align: center">{{totalcollect}}</div>
          </th>
          <th style="width:130px; height: 20px;vertical-align:top">
             <div class="cuadrado letter"> Total Collect</div>
             <div class="letter" style="margin-left: 2%;text-align: center">{{totalprepaid}}</div>
          </th>
          <th rowspan="2" colspan="3">
            <div class="lettertitle" style="margin-left: 2%;text-align: left">PROMED MEDICAL LOGISTICS AS AGENT FOR CARRIER</div>
           <div style="margin-top: 20px;">
            <table width="100%">
              <tr>
                <th class="tableInterna" style="width:70px;vertical-align:bottom; border-bottom: 2px dashed black; ">
                  <div class="letter" style="margin-left: 2%;text-align: left;">{{datenow}}</div>
                </th>
                <th class="tableInterna" style="width:80px;vertical-align:bottom;border-bottom: 2px dashed black; ">
                  <div class="letter" style="margin-left: 2%;text-align: left">XXXXXXXX</div>
                </th>
                <th class="tableInterna" style="width:80px;vertical-align:bottom;border-bottom: 2px dashed black; ">
                  <div class="letter" style="margin-left: 2%;text-align: left">{{userCreated}}</div>
                </th>
               </tr>
              
              <tr>
                <th class="tableInterna" style="width:70px;vertical-align:bottom">
                  <div class="lettersmall" style="margin-left: 2%;text-align: left;">Executed on (date) </div>
                </th>
                <th class="tableInterna" style="width:80px;vertical-align:bottom">
                  <div class="lettersmall" style="margin-left: 2%;text-align: left">at (place) </div>
                </th>
                <th class="tableInterna" style="width:80px;vertical-align:bottom">
                  <div class="lettersmall" style="margin-left: 2%;text-align: left">Signature of issuing Carrier or its Agent </div>
                </th>
               </tr>
            </table>
            </div>
          </th>
           
           
        </tr>
    
        <tr>
          <th style="width:130px; height: 12px;vertical-align:top" class="gray">
           <div class="cuadrado letter" > Currency Conversion Rate</div>
          </th>
          <th style="width:130px; height: 12px;vertical-align:top" class="gray">
             <div class="cuadrado letter"> CC Charges in dest. Currency</div>
          </th>
        </tr>
        <tr>
          <th style="width:130px; height: 20px;vertical-align:top" class="gray">
            <div class="letter" style="margin-left: 2%;text-align: left">For Carriers Use Only at Destination</div>
          </th>
          <th style="vertical-align:top; text-align:center;width:130px; height: 20px" class="gray">
            <div class="cuadrado letter"> Charges at Destination</div>
    
          </th>
          <th class="anchoinsleep gray" style="vertical-align:top; text-align:center;width:130px; height:20px">
            <div class="cuadrado letter" >Total Collect Charges</div>
          
          </th>
          <th class="lettertitleG" style="width:130px; text-align:right;height: 20px;border-bottom: 1px solid transparent;border-right: 1px solid transparent ;color: red">
            {{numberbooking}}
          </th>
           
            
        </tr>
      </table>
    </html>
    
    
    
    
    
    
        <tr>
    
    </table>
    
  </section>
  </section>
  <section>
    <div class="no-breaks ">
      <span class="lettertitle" style="text-align: center;">NOTICE CONCERNING CARRIER’S LIMITATION OF LIABILITY</span><br><br>
      <span class="letter">
        If the carriage involves an ultimate destination or stop in a country other than the country of departure, the Montreal Convention or the Warsaw Convention may be applicable to the liability of the Carrier in respect of loss of, damage or delay to cargo. Carrier's limitation of liability in accordance with those Conventions shall be as set forth in subparagraph 4 unless a higher value is declared.
       </span> <br><br>
      <span class="lettertitle" style="text-align: center;">CONDITIONS OF CONTRACT</span><br><br>
      <span style="text-align: justify;" class="letter">
        1. In this contract and the Notices appearing hereon: <br><br>
      CARRIER includes the air carrier issuing this air waybill and all carriers that carry or undertake to carry the cargo or perform any other services related to such carriage. SPECIAL DRAWING RIGHT (SDR) is a Special Drawing Right as defined by the International Monetary Fund.
      WARSAW CONVENTION means whichever of the following instruments is applicable to the contract of carriage:
      the Convention for the Unification of Certain Rules Relating to International Carriage by Air, signed at Warsaw, 12 October 1929;
      that Convention as amended at The Hague on 28 September 1955;
      that Convention as amended at The Hague 1955 and by Montreal Protocol No. 1, 2, or 4 (1975) as the case may be. MONTREAL CONVENTION means the Convention for the Unification of Certain Rules for International Carriage by Air, done at Montreal on 28 May 1999. <br><br>

      2./2.1 Carriage is subject to the rules relating to liability established by the Warsaw Convention or the Montreal Convention unless such carriage is not “international carriage” as defined by the applicable Conventions. <br><br>
      2.2 To the extent not in conflict with the foregoing, carriage and other related services performed by each Carrier are subject to:
      2.2.1 applicable laws and government regulations; <br><br>
      2.2.2 provisions contained in the air waybill, Carrier’s conditions of carriage and related rules, regulations, and timetables (but not the times of departure and arrival stated therein) and applicable tariffs 
      of such Carrier, which are made part hereof, and which may be inspected at any airports or other cargo sales offices from which it operates regular services. When carriage is to/from the USA, the shipper and the consignee are entitled, upon request, to receive a free copy of the Carrier’s conditions of carriage. The Carrier’s conditions of carriage include, but are not limited to: <br><br>
      2.2.2.1 limits on the Carrier’s liability for loss, damage or delay of goods, including fragile or perishable goods; <br><br>
      2.2.2.2 claims restrictions, including time periods within which shippers or consignees must file a claim or bring an action against the Carrier for its acts or omissions, or those of its agents; <br><br>
      2.2.2.3 rights, if any, of the Carrier to change the terms of the contract; <br>
      2.2.2.4 rules about Carrier’s right to refuse to carry; <br><br>
      2.2.2.5 rights of the Carrier and limitations concerning delay or failure to perform service, including schedule changes, substitution of alternate Carrier or aircraft and rerouting. <br><br>
      3. The agreed stopping places (which may be altered by Carrier in case of necessity) are those places, except the place of departure and place of destination, set forth on the face hereof or shown in Carrier’s timetables as scheduled stopping places for the route. Carriage to be performed hereunder by several successive Carriers is regarded as a single operation. <br><br>
      4. For carriage to which the Montreal Convention does not apply, Carrier’s liability limitation for cargo lost, damaged or delayed shall be 22 SDRs per kilogram unless a greater per kilogram monetary limit is provided in any applicable Convention or in Carrier’s tariffs or general conditions of carriage. <br><br>
      5./5.1 Except when the Carrier has extended credit to the consignee without the written consent of the shipper, the shipper guarantees payment of all charges for the carriage due in accordance with Carrier’s tariff, conditions of carriage and related regulations, applicable laws (including national laws implementing the Warsaw Convention and the Montreal Convention), government regulations, orders and requirements. <br><br>
      5.2 When no part of the consignment is delivered, a claim with respect to such consignment will be considered even though transportation charges thereon are unpaid. <br><br>
      6./6.1 For cargo accepted for carriage, the Warsaw Convention and the Montreal Convention permit shipper to increase the limitation of liability by declaring a higher value for carriage and paying a supplemental charge if required. <br><br>
      6.2 In carriage to which neither the Warsaw Convention nor the Montreal Convention applies Carrier shall, in accordance with the procedures set forth in its general conditions of carriage and applicable tariffs, permit shipper to increase the limitation of liability by declaring a higher value for carriage and paying a supplemental charge if so required. <br><br>
      7./7.1 In cases of loss of, damage or delay to part of the cargo, the weight to be taken into account in determining Carrier’s limit of liability shall be only the weight of the package or packages concerned. <br><br>
      7.2 Notwithstanding any other provisions, for “foreign air transportation” as defined by the U.S. Transportation Code: <br><br>
      7.2.1 in the case of loss of, damage or delay to a shipment, the weight to be used in determining Carrier’s limit of liability shall be the weight which is used to determine the charge for carriage of such shipment; and <br><br>
      7.2.2 in the case of loss of, damage or delay to a part of a shipment, the shipment weight in 7.2.1 shall be prorated to the packages covered by the same air waybill whose value is affected by the loss, damage or delay. The weight applicable in the case of loss or damage to one or more articles in a package shall be the weight of the entire package. <br><br>
      8. Any exclusion or limitation of liability applicable to Carrier shall apply to Carrier’s agents, employees, and representatives and to any person whose aircraft or equipment is used by Carrier for carriage and such person’s agents, employees and representatives. <br><br>
      9. Carrier undertakes to complete the carriage with reasonable dispatch. Where permitted by applicable laws, tariffs and government regulations, Carrier may use alternative carriers, aircraft or modes of transport without notice but with due regard to the interests of the shipper. Carrier is authorized by the shipper to select the routing and all intermediate stopping places that it deems appropriate or to change or deviate from the routing shown on the face hereof. <br><br>
      10. Receipt by the person entitled to delivery of the cargo without complaint shall be prima facie evidence that the cargo has been delivered in good condition and in accordance with the contract of carriage. <br><br>
      10.1 In the case of loss of, damage or delay to cargo a written complaint must be made to Carrier by the person entitled to delivery. Such complaint must be made: <br><br>
      10.1.1 in the case of damage to the cargo, immediately after discovery of the damage and at the latest within 14 days from the date of receipt of the cargo; <br><br>
      10.1.2 in the case of delay, within 21 days from the date on which the cargo was placed at the disposal of the person entitled to delivery. <br><br>
      10.1.3 in the case of non-delivery of the cargo, within 120 days from the date of issue of the air waybill, or if an air waybill has not been issued, within 120 days from the date of receipt of the cargo for transportation by the Carrier. <br><br>
      10.2 Such complaint may be made to the Carrier whose air waybill was used, or to the first Carrier or to the last Carrier or to the Carrier, which performed the carriage during which the loss, damage or delay took place. <br><br>
      10.3 Unless a written complaint is made within the time limits specified in <br><br>10.1 no action may be brought against Carrier.<br><br>
      10.4 Any rights to damages against Carrier shall be extinguished unless an action is brought within two years from the date of arrival at the destination, or from the date on which the aircraft ought to have arrived, or from the date on which the carriage stopped. <br><br>
      11. Shipper shall comply with all applicable laws and government regulations of any country to or from which the cargo may be carried, including those relating to the packing, carriage or delivery of the cargo, and shall furnish such information and attach such documents to the air waybill as may be necessary to comply with such laws and regulations. Carrier is not liable to shipper and shipper shall indemnify Carrier for loss or expense due to shipper’s failure to comply with this provision. <br><br>
      12. No agent, employee or representative of Carrier has authority to alter, modify or waive any provisions of this contract.

      </span>
    </div>
  </section>
</html>
